@model ProfesionalProfile_District3_MVC.Models.FollowSuggestion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FollowSuggestion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numberOfCommonFriends" class="control-label"></label>
                <input asp-for="numberOfCommonFriends" class="form-control" />
                <span asp-validation-for="numberOfCommonFriends" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numberOfCommonGroups" class="control-label"></label>
                <input asp-for="numberOfCommonGroups" class="form-control" />
                <span asp-validation-for="numberOfCommonGroups" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numberOfCommonOrganizations" class="control-label"></label>
                <input asp-for="numberOfCommonOrganizations" class="form-control" />
                <span asp-validation-for="numberOfCommonOrganizations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numberOfCommonTags" class="control-label"></label>
                <input asp-for="numberOfCommonTags" class="form-control" />
                <span asp-validation-for="numberOfCommonTags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label"></label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
