@model ProfesionalProfile_District3_MVC.Controllers.TakeAssessmentViewModel;


@{
    ViewData["Title"] = "TakeAssessment";
}

<h1>TakeAssessment</h1>

<h4>AssessmentTest</h4>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Assessments</h4>

            <select id="assessmentList" class="form-control">
                @foreach (var assessment in Model.AssessmentTests)
                {
                    <option value="@assessment.assessmentTestId">@assessment.testName</option>
                }
              </select>
        </div>
        <div class="col-md-4">
            <h4>Questions</h4>
            <select id="questionsContainer" class="form-control">
                @foreach (var questionList in Model.Questions)
                {
                    foreach (var question in questionList)
                    {
                        <option value="@question.questionId">@question.questionText</option>
                    }
                }
                </select>
        </div>
        <div class="col-md-4">
            <h4>Answers</h4>
            <ul id="answersContainer"></ul>
        </div>
    </div>
</div>
