@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the social media platform!</h1>
    <a class="btn btn-primary" asp-controller="Posts" asp-action="Index">See all Posts!</a>
</div>
