@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Demult, pe un tărâm îndepărtat, eu, Imre, maestrul metamorfozei și întunericului, am dezlănțuit un rău îngrozitor. Dar un samurai netrebnic, agitând o sabie magică, veni să mi se opună. Înainte să se dea lovitura finală am deschis o poartă în timp, și l-am aruncat în viitor unde răul meu face legea. Acum nătărăul caută să se întoarcă în trecut și să schimbă viitorul.</p>
