@model ProfessionalProfile_Web2.Models.Education

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Education</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <select asp-for="userId" class ="form-control" asp-items="ViewBag.userId"></select>
            </div>
            <div class="form-group">
                <label asp-for="degree" class="control-label"></label>
                <input asp-for="degree" class="form-control" />
                <span asp-validation-for="degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="institution" class="control-label"></label>
                <input asp-for="institution" class="form-control" />
                <span asp-validation-for="institution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fieldOfStudy" class="control-label"></label>
                <input asp-for="fieldOfStudy" class="form-control" />
                <span asp-validation-for="fieldOfStudy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduationDate" class="control-label"></label>
                <input asp-for="graduationDate" class="form-control" />
                <span asp-validation-for="graduationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
