@model ProfesionalProfile_District3_MVC.Models.FancierProfile

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FancierProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProfileId" />
            <div class="form-group">
                <label asp-for="Links" class="control-label"></label>
                <input asp-for="Links" class="form-control" />
                <span asp-validation-for="Links" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyMotto" class="control-label"></label>
                <input asp-for="DailyMotto" class="form-control" />
                <span asp-validation-for="DailyMotto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemoveMottoDate" class="control-label"></label>
                <input asp-for="RemoveMottoDate" class="form-control" />
                <span asp-validation-for="RemoveMottoDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrameNumber" class="control-label"></label>
                <input asp-for="FrameNumber" class="form-control" />
                <span asp-validation-for="FrameNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hashtag" class="control-label"></label>
                <input asp-for="Hashtag" class="form-control" />
                <span asp-validation-for="Hashtag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
