@model ProfesionalProfile_District3_MVC.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmationPassword" class="control-label"></label>
                <input asp-for="ConfirmationPassword" class="form-control" />
                <span asp-validation-for="ConfirmationPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationDate" class="control-label"></label>
                <input asp-for="RegistrationDate" class="form-control" />
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="FollowingCount" class="control-label"></label> *@
            @*     <input asp-for="FollowingCount" class="form-control" /> *@
            @*     <span asp-validation-for="FollowingCount" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="FollowersCount" class="control-label"></label> *@
            @*     <input asp-for="FollowersCount" class="form-control" /> *@
            @*     <span asp-validation-for="FollowersCount" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="UserSession" class="control-label"></label> *@
            @*     <input asp-for="UserSession" class="form-control" /> *@
            @*     <span asp-validation-for="UserSession" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class ="form-control" asp-items="ViewBag.GroupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="DarkTheme" class="control-label"></label> *@
            @*     <input asp-for="DarkTheme" class="form-control" /> *@
            @*     <span asp-validation-for="DarkTheme" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteURL" class="control-label"></label>
                <input asp-for="WebsiteURL" class="form-control" />
                <span asp-validation-for="WebsiteURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
