@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<br/>

<form method="post" asp-controller="Users" asp-action="Login">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" required/>
    </div>
    <br/>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" required/>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Login</button>
    <br/>
    <a asp-controller="Users" asp-action="Create">Register</a>
</form>
<!-- q: is there any style used in this html file?
    a: yes, bootstrap is used for styling
    q: how can i change that style?
    a: you can change the bootstrap classes to your own classes
    q: witch part of the code is responsible for the style?

    -->
