@model ProfessionalProfile_Web2.Models.Endorsement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Endorsement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endorser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endorser.userId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipient.userId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.endorsementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
