@model ProfessionalProfile_Web2.Models.Endorsement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Endorsement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="endorsementId" />
            <div class="form-group">
                <label asp-for="endorserId" class="control-label"></label>
                <select asp-for="endorserId" class="form-control" asp-items="ViewBag.endorserId"></select>
                <span asp-validation-for="endorserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recipientid" class="control-label"></label>
                <select asp-for="recipientid" class="form-control" asp-items="ViewBag.recipientid"></select>
                <span asp-validation-for="recipientid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="skillId" class="control-label"></label>
                <select asp-for="skillId" class="form-control" asp-items="ViewBag.skillId"></select>
                <span asp-validation-for="skillId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
